<div data-product-slug="{{ product.slug }}">

    <h1 class="font-bold text-5xl">
        {{ product.name }}
    </h1>

    <div class="font-bold mt-3 text-4xl text-gray-900 tracking-wide">
        {% if product.price == 0.00 %}
        <h3>Free</h3>
        {% else %}
        <h3>{{ product.price|money }} {{ store.currency }}</h3>
        {% endif %}
    </div>

    <p class="mt-2">
        {{ product.description | raw }}

        {% if product.stock.available == false %}
            OUT OF STOCK
        {% endif %}
    </p>

    <div class="mt-4">
        <div id="mainActions" class="mt-2 flex gap-2">
            {% if product.allow_subscription %}
            <a href="/products/{{ product.slug }}/checkout?sub=true"
                class="rounded-2xl font-medium text-xl bg-green-700 px-4 py-2 text-white opacity-90 hover:opacity-100">Subscribe</a>
            {% endif %}
            {% if not template.SubOnlyWithGifting and product.allow_one_time_purchase %}
            <a href="/cart/add/{{ product.slug }}"
                class="rounded-2xl font-medium text-xl bg-primary px-4 py-2 text-white opacity-90 hover:opacity-100">Add
                to Cart</a>
            {% endif %}
            {% if product.allow_one_time_purchase and (not template.SubOnlyWithGifting or template.SubOnlyWithGifting)
            %}
            <button id="giftButton" onclick="toggleGiftActions();"
                class="rounded-2xl font-medium text-xl bg-orange-500 px-4 py-2 text-white opacity-90 hover:opacity-100">Gift</button>
            {% endif %}



        </div>

        <div id="giftActions" class="hidden mt-2 flex gap-2">
            <input type="text" id="steamidInput" placeholder="Enter SteamID64" class="border rounded px-3 py-2">
            <button id="purchaseFromGift" onclick="handlePurchase();"
                class="rounded-2xl font-medium text-xl bg-primary px-4 py-2 text-white opacity-90 hover:opacity-100">
                Purchase
            </button>
            <button id="closeGift" onclick="toggleGiftActions();"
                class="rounded-2xl font-medium text-xl bg-red-500 px-4 py-2 text-white opacity-90 hover:opacity-100">
                Close
            </button>
        </div>
    </div>
</div>
